body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* shared styles */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  color: blue;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.body-color{
    background-color: #f5f8ff;
}

.dark2{
    color: #252432;
}
.dark3{
    color: rgba(37, 36, 50, 0.5);
}
.log-design{
    color: black;
    font-weight: lighter;
}

.btn-primary{
    background-color: blue;
    color: white;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    font-weight: 200;
    font-size: 16px;
    cursor: pointer;

}

button:hover{
    background-color: dodgerblue;
    box-shadow: 0 8px 8px rgba(16, 1, 1, 0.543);

}

/* header styles */
header{
    background-image: url('../Assets/Hero-bg.png');
    background-position: top center;
    height: 600px;

}

.nav-content{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px 50px 150px;
}

header nav a{
    margin-top: 40px;
}

/* banner styles */
.banner-container{
    text-align: center;
    margin: 150px 260px 150px 260px;
}
.banner-title h2{
    font-weight: 900;
    font-size: 60px;
    line-height: 0.5;
    margin: 50px;
    font-weight: bold;
}

/* action style */
.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 200px 50px 200px;
}
.action-content{
    max-width: 500px;
}
.action-content h2{
    font-weight: 700;
    font-size: 42px;
}
.action p{
    font-size: 20px;
    margin: 20px 0;
    font-weight: 500;
}
.action-img{
    border-radius: 48px;
}

/* productive users styles */
.prod-users{
    background-color: rgba(78, 71, 255, 0.1);
    margin: 50px 160px;
    padding: 60px 40px;
    border-radius: 24px;
    text-align: center;
}
.prod-users h2{
    font-size: 38px;
    font-weight: 700;
}

.category-container{
    display: flex;
    justify-content: center;
    gap: 160px;
}
.category h3{
    font-size: 80px;
    font-weight: 700;
    margin: 0;
}
.category p{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

/* review styles */
.review{
    text-align: center;
    padding: 50px 80px;
    margin-top: 0px;
}

.review h2{
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: 700;
}
.cards{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin-left: 150px;
    margin-right: 130px;

}
.card{
    background-color: rgba(211, 211, 211, 0.445);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 4px 3px rgba(0, 0, 0, 0.406);
    width: 250px;
}
.reviewer{
    display: flex;
    gap: 10px;
    align-items: center;
}
.reviewer img{
    border-radius: 50%;
}
.reviewer-name .name{
    margin-bottom: 0px;
}
.reviewer-name .date{
    margin-top: 0;
}

/* focus styles */
.focus{
    text-align: center;
    margin-top: 50px;
    padding: 40px 20px;
}

.foc-container{
    margin: 40px 160px;
    padding: 60px 40px;
    background-color: rgba(211, 211, 211, 0.445);
    border-radius: 15px;
}
.foc-container h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
}
.foc-container p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.focus-img img{
    margin-top: 30px;
    border-radius: 48px;
}

/* contact styles */
.contact{
    padding: 50px 20px;
}
.contact-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 200px;
    width: 70%;
    margin-bottom: 50px;
}
.contact-container h2{
    font-size: 70px;
    font-weight: bold;
    margin-left: 10px;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
}

.contact-form label{
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
}

.contact-form input[type="email"], .contact-form input[type="text"]{
    height: 40px;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
}
.contact-form textarea{
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
}

.contact-form button{
    width: 110%;
    border-radius: 10px;
}

/* footer styles */
.footer-container{
    text-align: center;
    padding: 40px 20px;
}

.footer-container h1{
    font-size: 80px;
    margin: 0 0 20px 0;
}
.footer-container p{
    font-size: 15px;
    font-weight: 400;
}
.footer-items{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;;
}
.footer-items li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: rgba(37, 36, 50, 0.5);
}
.footer-container li a:hover {
  color: #4c40f7;
}
